/* Error: expected ";".
 *    ,
 * 14 | $sizes: 10, 20, 30, 40, 50;
 *    |       ^
 *    '
 *   assets/sass/_colors.scss 14:7  @import
 *   assets/sass/style.scss 2:9     root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected ";".\a    \2577 \a 14 \2502  $sizes: 10, 20, 30, 40, 50;\a    \2502        ^\a    \2575 \a   assets/sass/_colors.scss 14:7  @import\a   assets/sass/style.scss 2:9     root stylesheet';
}
