<div class="container">
  <h2 class="text-center mb-5">Accedi ai nostri servizi</h2>
  <div class="row gap-5">
    <div class="col-12">
      <div class="d-flex flex-column align-items-center">
        <p class="text-center">Non hai ancora un account WonderMeteo®?</p>
        <button routerLink="/auth/register" class="btn btn-info">Registrati che aspetti!</button>
      </div>
    </div>
    <div class="col-12">
      <div class="d-flex flex-column d-lg-flex-row align-items-center">
        <p class="text-center">Hai già un account WonderMeteo®?</p>
        <button routerLink="/auth/login" class="btn btn-success">Accedi subito!</button>
      </div>
    </div>
  </div>
</div>
