<div class="row">
  <div class="col-12">
    <p class="h3 text-center mb-5">Form di Registrazione</p>
    <div class="d-flex flex-column gap-2 mb-5">
      <input type="text" placeholder="Nome"  name="name"  class="form-control">
      <input type="text" placeholder="E-Mail"  name="email"  class="form-control">
      <input type="password" placeholder="Crea una password"  name="email"  class="form-control">
      <input type="password" placeholder="Conferma la tua password"  name="email"  class="form-control">
      <button class="btn btn-info mt-4">Registrati</button>
    </div>
    <p class="text-center">Se sei già registrato clicca <a routerLink="/auth/login">Qui</a> per entrare!</p>
  </div>
