<div class="row">
  <div class="col-12">
    <p class="h3 text-center mb-5">Form di Registrazione</p>

      <form #f="ngForm">
        <div class="d-flex flex-column gap-2 mb-5">

        <input type="text" placeholder="Nome" required  name="nome"  #nome="ngModel" ngModel class="form-control text-center">

        <div *ngIf="nome.invalid && nome.dirty" class="  alert alert-warning">
          Devi inserire il nome
        </div>

        <input type="text" placeholder="Cognome" required  name="cognome" #cognome="ngModel" ngModel class="form-control text-center">

        <div *ngIf="cognome.invalid && cognome.dirty" class="  alert alert-warning">
          Devi inserire il cognome
        </div>

        <input type="text" placeholder="E-Mail" [pattern]="emailRegEx"  name="email" #email="ngModel" ngModel  class="form-control text-center">

        <div *ngIf="isEmail(email)" class="alert alert-warning">
          Inserisci una mail valida
        </div>

        <input type="password" placeholder="Crea una password" required #password="ngModel" ngModel name="password"  class="form-control text-center">
        <input type="password" placeholder="Conferma la tua password" required [(ngModel)]="confirmPassword" name="confirmPassword"class="form-control text-center">
        <button class="btn btn-info mt-4" [disabled]="!f.valid" >Registrati</button>
        <div class="alert alert-warning text-center align-self" *ngIf="f.invalid">Form non valido</div>
      </div>
      </form>
    <p class="text-center">Se sei già registrato clicca <a routerLink="/auth/login">Qui</a> per entrare!</p>
  </div>
