@import 'mixins.scss';

.content-wrapper {
    @include flex-container;
    .account-section {
        border: 1px solid black;
        flex : 0 0 50%;
    }

}

.user-name-title{
    font-size: 2rem;
    text-align: center;
}
