:root {
    --giallo: #fefece;
    --verde: #ccfece;
    --viola: #cacafa;
    --grigio: #666666;
}

#container {
    width: 100%;
    height: 100vh;
    background-color: var(--grigio);
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    gap: 20px;
    perspective: 400px;
}


.postit {
    font-family: 'Indie Flower', cursive;
    width: 20%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 4px 4px 20px 0.5px;
    transition: transform 0.5s ease-in;
    animation: slap-in 1s ease-out;
}

@keyframes slap-in {
    0% {opacity: 0; transform: translateZ(500px);}
    50% {opacity: 0; transform: translateZ(100px);}
    100% {opacity: 1; transform: translateZ(0px);}
}



.postit:hover{
    transform: scale(1.3);
    z-index: 1;
}

.postit-title {
    font-size: 3.2rem;
    font-weight: bolder;
}

.postit-content {
    font-size: 1.6rem;
    position: relative;
    right: 45px;
}

.yellow {
    background-image: linear-gradient(var(--giallo) 0%, var(--giallo) 75%, #bdbda3 90%, #bdbda3 100%);
    transform: rotateZ(-4deg)
}

.green {
    background-image: linear-gradient(var(--verde) 0%, var(--verde) 75%, #a1b8a1 90%, #a1b8a1 100%);
    transform: rotateZ(4deg)
}

.purple {
    background-image: linear-gradient(var(--viola) 0%, var(--viola) 75%, #8b8c9b 90%, #8b8c9b 100%);
    transform: rotateZ(-6deg);
}



