/******** Main settings *****/ 

a{
    text-decoration: none;
}

ul {
    list-style: none;
}


/******* utility class *****/ 

.container {
    padding-right: 40px;
    padding-left: 40px;
}

/****** nav *******/

#header {
    border-bottom: 1px solid rgb(36, 36, 36)
}

#header nav {
    display: flex;
    align-items: center;
}

.logo {
    margin-right: auto;
}

#menu{
    display: flex;
    gap: 10px;
}


/******* hero******/
.hero{
    display: flex;
    align-items: center;
    padding-right: 0;
}

.hero-content-wrapper{
    display: block;
    margin-right: auto;
}


/********** Top Trending Section ********/ 


.top-trending-title{
    margin-bottom: 16px;
    display: flex;
    column-gap: 4px;
    align-items: center;
    justify-content: start;
}


