/******** Main settings *****/

:root {
    --hero-yellow: #ffc017;
    --trending-numbers: #e6e7e7;
    --black-default-text: #292929;
    --other-text: #757575;

}

a {
    text-decoration: none;
    color: var(--black-default-text);
}

ul {
    list-style: none;
}

body {
    color: var(--black-default-text);
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {

    font-weight: 700;
}

/******* utility class *****/


.grey-text {
    color: var(--other-text)
}

.circle-border {
    border-radius: 50%;
}

.square-border {
    border-radius: 4px;
}

.black-btn {
    color: white;
    line-height: 20px;
    background-color: rgba(25, 25, 25, 1);
    border-radius: 99em;
    border: 1px solid rgba(25, 25, 25, 1);
    padding: 7px 16px 9px;
    transition: all 0.3s;
    font-weight: 400;
}

/********** flex utility class **/

.flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-space-around {
    justify-content: space-around;
}

.wrap {
    flex-wrap: wrap;
}

.column {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

/****** nav *******/




.nav-wrapper {
    background-color: var(--hero-yellow);
    gap: 40%;
    height: 50px;
    padding: 25px 0;
    border-bottom: 1px solid var(--black-default-text);
}


#menu {
    display: flex;
    gap: 10px;
}


/******* hero******/

.hero {
    background-color: var(--hero-yellow);
    justify-content: center;
    margin-right: auto;
    border-bottom: 1px solid var(--black-default-text);
}



.hero h1 {
    font-family: 'Spectral', serif;
    font-size: 80px;
}

.hero-content-wrapper {
    padding: 100px 0;
    gap: 40px;
}

#start-reading {
    margin-top: 1.5rem;
    font-size: 20px;
    padding: 0.5em 2.5em;
    width: fit-content;
}



/********** Top Trending Section ********/

#top-trending {
    padding-top: 40px;
    padding-bottom: 16px;
}

.top-trending-title {
    gap: 10px;
}

.top-trending-title {
    vertical-align: middle;
}

.wrapper {
    flex-direction: column;
    gap: 20px;
    padding-inline: 3rem;
}

.top-trending-article {
    display: flex;
    column-gap: 3px;
    flex-basis: 33%;
}

.article-container {
    row-gap: 20px;
}

.articles-content {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}

.articles-titles {
    overflow: hidden;
}

#top-trending img {
    vertical-align: middle;
    width: 20px;
    height: 20px;
}


/********* other articles *********/

#bottom {
    width: 50%;
    padding-top: 56px;
    justify-content: center;
}

.bottom-content {
    overflow-y: scroll;
    flex-basis: 100%;
}



.right-nav {
    flex-basis: 100%;
}