<form [formGroup]="form">

  <input type="text" class="form-control" formControlName="nome"
   placeholder="Inserisci il tuo nome"><div *ngIf="!isValid('nome') && isTouched('nome')" class="alert alert-warning text-center">Controllo Nome</div>

  <input type="text" class="form-control" formControlName="cognome"
  placeholder="Inserisci il tuo Cognome"><div *ngIf="!isValid('cognome') && isTouched('cognome')" class="alert alert-warning text-center">Controllo Cognome</div>

  <input type="text" class="form-control" formControlName="username"
  placeholder="Inserisci il tuo Username"><div *ngIf="!isValid('username') && isTouched('username')" class="alert alert-warning text-center">Controllo Username</div>

  <input type="password" class="form-control" formControlName="password"
  placeholder="Inserisci la tua Password"><div *ngIf="!isValid('password') && isTouched('password')" class="alert alert-warning text-center">Controllo Password</div>

  <input type="password" class="form-control" formControlName="confermaPassword"
  placeholder="Inserisci di nuovo la tua Password"><div *ngIf="!isValid('confermaPassword') && isTouched('confermaPassword')" class="alert alert-warning text-center">Controllo Password Uguali</div>


  <div class="d-flex justify-content-center">
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>


</form>

{{this.form.get('password')?.value}}
{{this.form.get('password')?.valid}}
