<p class="h1 text-center mt-5">Scopri come contattarmi</p>

<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"><img mat-card-image class="img-fluid" src="https://media.licdn.com/dms/image/D4D03AQFy_fUvXWQBUg/profile-displayphoto-shrink_200_200/0/1695652268270?e=1707955200&v=beta&t=e5u9hhQFma4BKwusvV2P8pgiCujofNydEkDcpz9W1lw" alt="Photo of ME!"></div>
    <mat-card-title>Davide D'Amario</mat-card-title>
    <mat-card-subtitle>Junior Dev</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <p>
      All'inizio di una carriera da developer sono qui a mostrare la mia app Meteo.
    </p>
    <p>
      Passato e presente da nerda sempre innamorato di tutto ciò che sia digitale e/o elettronico
    </p>
    <p>
      Qui sotto troverai tutti i modi per contattarmi
    </p>
  </mat-card-content>
  <mat-card-actions>
    <a href="https://www.facebook.com/davide.damario/" mat-button target="_blank"><i class="fa-brands fa-square-facebook"></i></a>
    <a href="https://www.instagram.com/brucaliff.0/" mat-button target="_blank"><i class="fa-brands fa-instagram"></i></a>
    <a href="https://www.linkedin.com/in/davide-d-amario-3891a291/" mat-button target="_blank"><i class="fa-brands fa-linkedin"></i></a>
    <i class="fa-brands fa-telegram"></i>
  </mat-card-actions>
</mat-card>
