<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title>{{city.name}} {{city.sys.country}}<span
          class="mx-2 flag-icon flag-icon-{{city.sys.country | lowercase}}"></span></mat-card-title>
      <mat-card-subtitle>{{city.weather[0].description}}
        <span><p>Aggiungi o rimuovi dai preferiti</p></span>
       <span class="text-danger"  *ngIf="!checkFav(city)" (click)="add(city)" ><mat-icon>favorite_border</mat-icon></span>
       <span  class="text-danger" *ngIf="checkFav(city)" (click)="remove(city)"><mat-icon>favorite</mat-icon></span>
      </mat-card-subtitle>
      <img mat-card-sm-image class="img-fluid" [srcset]="iconsUrl+city.weather[0].icon+'.png'">
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-content>
    <div class="row">
      <div class="col">
        <p>Temp: {{city.main.temp}}°</p>
      </div>
      <div class="col">
        <p>Max: {{city.main.temp_max}}°</p>
      </div>
      <div class="col">
        <p>Min: {{city.main.temp_min}}°</p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p>💧 {{city.main.humidity}}%</p>
      </div>
      <div class="col">
        <p>Press: {{city.main.pressure}}</p>
      </div>
      <div class="col">
        <p>Percep: {{city.main.feels_like}}°</p>
      </div>
    </div>
    <div class="row">
      <div class="col" (click)="checkFav(city)">🌪 {{city.wind.speed}} Km/h</div>
    </div>
  </mat-card-content>
</mat-card>
