@import "functions";
@import 'dropdown';
@import "variables";


nav{

    ul {
        list-style: none;
    }
    
    a{
        text-decoration: none;
        color: white;
    }
    
    .top-avatar {
        width: 40px;
    }
    
    .off-canvas-logo{
        max-width: 80px;
    }
    
    #menu{
        @media screen and (min-width: 576px){
            display: flex;
            justify-content: start;
            gap: 10px;
            align-items: center;
        }
    }
}