@import "functions";
@import 'dropdown';
@import "variables";

/***** general settings ***/

img {
    vertical-align: middle;
}
nav{

    ul {
        list-style: none;
    }
    
    a{
        text-decoration: none;
        color: white;
    }
    
    .off-canvas-logo{
        max-width: 80px;
    }
    
    #menu{
        @media screen and (min-width: 576px){
            display: flex;
            justify-content: start;
            gap: 10px;
            align-items: center;
        }
    }
}

.movie {
    background-image: url(../img/media/media0.webp);
    background-size: contain;
    box-sizing: content-box;
}


/****** profile page ***/

.profile-logo{
    width: 150px;
}
.profile-img {
    background-image: url(../img/avatar.png);
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 150px;
}
.profile-bg {
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(31,31,31,1) 24%);
}

.profile-name {
    background-color: #666666;
}

.edit-pencil{

 
    background-color: black;
    border-radius: 100%;
    font-size: 0.5rem;
}

.maturity{
    background-color: #333;
}

.my-btn {
    letter-spacing: 0.1rem;
    background-color: rgba(0,0,0,0.1);
    color: white;
    &:hover{
        background-color: white;
        color:#333;
        transition-duration: 0.5ms;
    }
}

.profile-content {
    color: #ccc;
}
select {
    background-color: $black;
}

.autoplay-checks{
    label{
        font-size: 0.8rem;
    }
}

