.li-button {
  color: white;
  padding: 10px 24px;
  font-size: 13px;
  &.elimina-button{
    background-color: red;
  }
  &.complete-button{
    background-color:green;
  }
  &.todo-button{
    background-color:var(--tertiary-color);
  }
}
