<div class="list-container">
  <p class="main-title" *ngIf="tasks.length && !loading">{{page}} List</p>
  <ul class="list">
      <app-task [task]="task" *ngFor="let task of tasks">
      <button class="button li-button elimina-button" (click)="delete(task.id)">Elimina</button>
      <button class="button li-button complete-button"  *ngIf="pageTodo" (click)="complete(task)">Completato</button>
      <button class="button li-button todo-button"  *ngIf="pageCompleted" (click)="todo(task)">Da Completare</button>
      </app-task>
  </ul>

  <div class="operation">
    <p></p>
  </div>
</div>
