:root {
    --dark-brown: #612406;
    --my-yellow: #fcdf7f;
    --yellow-tab-bg: #fbf7e3;
}


a {
    color: var(--dark-brown);
    text-decoration: none;
}

ul{
    list-style: none;
}

img {
    max-width: 100%
}

.wrapper{
    padding: 15px;
}

#header {
    box-sizing: border-box;
    padding: 25px;
    background-color: var(--yellow-tab-bg);

}

.logo img {
    width: 50px;
}

#menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px
}

#menu li:first-child{
    flex-basis: 100%;
}

#menu li{
    flex-basis: 50%;
}



#menu li a{
    background-color: var(--my-yellow);
    border-radius: 30px;
    padding: 15px;
    text-align: center;
}

