.nav-wrapper {
    background-color: #fbf7e3;
    border-radius: 30px;
    margin: 30px;
    padding: 10px;
}

#menu {
    display: flex;
    list-style: none;
}


.nav-button{
    padding-bottom: 20px;
    background-color: #f3df85;
    padding: 15px 35px;
    flex-grow: 1;
    border-radius: 30px;
    font-weight: 500;
    vertical-align: middle;
    margin: auto;
    text-align: center;
}

.shop-button {
    font-size: 1.7em;
    font-weight: 550;
    display: flex;
    column-gap: 30px;
    align-items: center;
    padding: 20px;
}

.shop-button img {
    vertical-align: middle;
    max-width: 40px
}

#menu a {
    text-decoration: none;
    color: #612406;
}