:root {
    --dark-brown : #612406;
    --my-yellow : #f3df85;
}

/** nav bar mobile fixing */

.nav-wrapper {
    background-color: #fbf7e3;
    border-radius: 50px;
    margin: 30px;
    padding: 15px;
}

#menu {
    display: flex;
    list-style: none;
    flex-wrap:wrap-reverse;
    row-gap: 20px;
}


.nav-button{
    padding-bottom: 20px;
    background-color:var(--my-yellow);
    padding: 15px 25px;
    flex-grow: 1;
    border-radius: 30px;
    font-weight: 500;
    vertical-align: middle;
    text-align: center;
}

.shop-button {
    font-size: 1.7em;
    font-weight: 550;
    display: flex;
    column-gap: 25px;
    align-items: center;
    justify-content: center;
    padding: 30px;
    border-radius: 50px;
}

.shop-button img {
    vertical-align: middle;
    max-width: 40px
}

#menu a {
    text-decoration: none;
    color: var(--dark-brown);
}

#shop{
    order: 5;
}

#our-honey{
    order: 4;
}

#trace-honey{
    order: 3;
}

#facilities {
    order: 2
}

#contacts {
    order: 1
}

/***************** main section **/
#container{
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/*********** main title *********/


#main-title{
    color: var(--dark-brown);
    text-transform: capitalize;
    font-weight: 700;
    font-size: 2.8rem;
    text-align: center;
}