@mixin flexyL {
    display: flex;
    justify-content: space-between ;
}
@mixin flexySm {
    display: flex;
    flex-direction: column;
    padding: 0;
    align-items: center;
}

@mixin backgroundSettings {
    background-repeat: no-repeat;
    background-size: cover;
}

@mixin ulStyle {
    list-style: none;
}


@mixin heroButtons {
    border: 2px solid rgb(255, 255, 255, 0.2);
    border-radius: 5px;
}

@mixin title-big {
    font-size: nth($fontSize, 7);
    font-family: nth($fontFamily, 1);
    text-align: center;
}
