@import 'reset';
@import 'colors';
@import 'mix';
@import 'animations';
@import 'buttons';
@import 'spaces';
@import 'fonts';

a{
    text-decoration: none;
};

body{
    color: map-get($color-map, txts);
}

img{
    max-width: 100%;
}

header{
    background-color: map-get($color-map, heroBg);
}

nav {
    @include flexySm;
    img {
        width: 200px;
        @media screen and (min-width: 769px) {
            width: 350px;            
        }
    }
    #menu{
        @include ulStyle;
        @include flexySm;
        font-size: nth($fontSize, 2);
        row-gap: nth($fontSize, 1)
    }
    a{
        color: map-get($color-map, txts);
    }
}

.hero {
    display: flex;
    column-gap: 10px;
    justify-content: space-evenly;
    h1{
      @include title-big;
    }
    #hero-head{
        display: flex;
        flex-direction: column;
        justify-content: center ;
    }
    .buttons{
        display: flex;
        justify-content: space-evenly;
        gap: 20px;
    }
    a {
        @include heroButtons;
    }
};

@each $m in $sizes {
    .mt-#{$m}{
        margin-top: $m+ px;
    }
    .mb-#{$m}{
        margin-bottom: $m+ px;
    }
    .ml-#{$m}{
        margin-left: $m+ px;
    }
    .mr-#{$m}{
        margin-right: $m+ px;
    }
    .m-#{$m}{
        margin: $m+ px;
    }
    

}

@each $p in $sizes {
    .pt-#{$p}{
        padding-top: $p+ px;
    }
    .pb-#{$p}{
        padding-bottom: $p+ px;
    }
    .pl-#{$p}{
        padding-left: $p+ px;
    }
    .pr-#{$p}{
        padding-right: $p+ px;
    }
    .p-#{$p}{
        padding: $p+ px;
    }

}


