/*settings generali*/
:root{
    --arancio-wow : #f04c2f;
    --azzurro-twitter : #25a2c3;

}
body {
    color: #393d41;
    font-size: 2rem;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.65;
}

h1, h2, h3, h4 { 
    color: var(--azzurro-twitter);
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
}

h1 {
    font-size: 5rem;
    margin-bottom: 20px;
}
h2 {
    font-size: 1.8rem;
    padding-bottom: 15px;
}
h4 {
    font-size: 3rem;
}
.feedback h2, h3{
    color: white;
}

#footer {
    background-color: var(--azzurro-twitter);
    text-align: center;
    color: white;
}

#footer h2{
    color: white;
    padding-top: 40px;
}

#footer a{
    color: #c8e7f0;
}


#partiamo {
    background-color: var(--arancio-wow) ;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 2rem;
    color: white;
    padding: 30px 140px;
    border-radius: 8px;
    margin: 10px 10px;
}

.tab {
    border: 1px solid  #dee1e3;
    margin: 0 40px;
}

.container {
    background-color: white;
    text-align: center;
}

.post{
    line-height: 1.5;
    padding: 20px 10px;
}

.post a{
    text-decoration: none;
}

.post p{
    padding: 20px 0;
}
/*header*/

#header {
    background-color: black;
    text-align: left
}

#header img {
    width: 300px;
    height: 100px;
    padding: 20px 40px;
}

.top {
    background-image: url(../images/banner.jpg);
    background-size:cover;
    padding: 200px 300px;
    margin-bottom: 50px;
}

/*main*/

.menu-split {
    display: flex;
}
.main-left{
   width:50vw;
}
.main-right{
    width: 50vw;
}
.round-image {
    border-radius: 100%;
    width: 70%;
    height: 100%;
    object-fit: contain;
}

.feedback {
    background-color: var(--arancio-wow);
    margin: 50px 0;
    color: white;
    padding: 100px 5px 70px 5px;
}

.feedback h2{
    font-size: 4rem;
}

.feedback h3{
    padding-bottom: 6px;
    font-size: 2.5rem;
}

.feedback p:first-of-type {
    font-style: italic;
    font-size: 2rem;
    margin-bottom: 30px;
}

.feedback p{
    font-size: 1.6rem;
}
/*articoli correlati*/

.related-articles {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 180px 0;
}

.post-img {
        height: 100%;
        max-width: 100%;
       }


div.post.tab{
    padding: 0;
}

.bot-split{
    height:50vh;
    background-color: red;
}

/*footer*/

#contacts {
    padding-bottom: 40px;
}

#copy {
    padding: 20px 10px 60px 10px;
    font-size: 1.4rem;
}

.white-line {
    border-bottom: 1px solid white;
    width: 1000px;
    margin: 0 auto;
}

i{
    padding-right: 4px;
}