#header {
  background-color: black;
  padding: 30px;  
}

.main-title {
  text-align: center;
  font-size: 2rem;
  color: bisque;
}

.container {
    background-color: #ccc;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
/***** sezione telefono **/

.phone-container{
  height: 600px;
  width: 300px;
  background-image: url("../img/iphone.png");
  background-repeat: no-repeat;
  background-size:contain;
  background-position: center;
  position:relative;
}

.phone-screen{
  display: flex;
  justify-content: center;
  align-items: center;

  
}

.mobile-time {
  position: absolute;
  top: 30px;
  left: 35px;
  font-size: 0.8rem;
}

.ricarica {
  padding: 3px 8px;
  color:white;
  font-size: 0.8rem;
  background-color: #666;
  border: 1px solid #ccc;
  
}

