/*settings generali*/
:root{
    --arancio-wow : #f04c2f;
    --azzurro-twitter : #25a2c3;

}
body {
    color: #393d41;
    font-size: 1.2rem;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.65;
}

h1, h2, h3, h4 { 
    color: var(--azzurro-twitter);
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
}

h1 {
    font-size: 2rem;
    margin-bottom: 20px;
}
h2 {
    font-size: 1.8rem;
    margin-bottom: 10px;
}
h4{
    margin-bottom: 10px;
}

.feedback h2, h3{
    color: white;
}

#footer {
    background-color: var(--azzurro-twitter);
    text-align: center;
    color: white;
}

#footer h2{
    color: white;
    padding-top: 40px;
}

#footer a{
    color: #c8e7f0;
}

#header {
    background-color: black;
    text-align: center;
}

#partiamo {
    background-color: var(--arancio-wow) ;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: white;
    padding: 15px 30px;
    border-radius: 8px;
    margin: 10px 10px;
}

.tab {
    border: 1px solid  #dee1e3;
    margin: 0 40px;
}

.container {
   background-color: white;
   text-align: center;
}

.post{
    line-height: 1.5;
    padding: 20px 10px;
}

.post a{
    text-decoration: none;
}
/*header*/

#header img{
    width: 165px;
    height: 53px;
    padding: 20px 40px;
}

.top {
    background-image: url(../images/banner.jpg);
    background-size:cover;
    padding: 40px 20px;
    margin-bottom: 80px;
}

/*main*/

.central-img {
    margin: 50px 0;
}
.round-image {
    border-radius: 100%;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.feedback {
    background-color: var(--arancio-wow);
    margin: 50px 0;
    color: white;
    padding: 50px 5px 20px 5px;
}

.feedback p:first-of-type {
    font-style: italic;
    font-size: 1rem;
    margin-bottom: 30px;
}

.feedback p{
    font-size: 0.8rem;
}
/*articoli correlati*/

.post-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    margin-bottom: 20px;
}

.post.tab {
    padding: 0;
    margin-bottom: 30px;
}

.post.tab p{
    padding: 20px;
    margin-bottom: 30px;
}

/*footer*/

#contacts {

    border-bottom: 1px solid white;
    border-bottom-right-radius: 30px;
}